.Scorecard table {
  border-collapse: collapse;
  font-size: 1.8vw;
}

.Scorecard th {
  border-width: 3px;
  border-style: solid;
  border-color: lightslategray;
  padding: 0.5em 0.2em;
  width: 3vw;
}

.Scorecard td {
  border-width: 3px;
  border-style: solid;
  border-color: lightslategray;
  padding: 0.5em 0.2em;
}

.winner {
  background-color: rgb(0, 128, 43);
}
