.score {
  margin: auto;
  width: 1.2em;
  height: 1.2em;
  padding: 0.1em;
  border-width: 0.15em;
}

.scoreEagle {
  font-weight: bold;
  color: pink;
  border-color: pink;
  border-radius: 50%;
  border-style: double;
}

.scoreBirdie {
  font-weight: bold;
  color: pink;
  border-color: pink;
  border-style: solid;
  border-radius: 50%;
}

.scoreBogey {
  border-style: solid;
  border-color: white;
}

.scoreDoubleBogey {
  border-style: double;
  border-color: white;
}
